
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@using FinancialWebSite.ViewModels
@model EditViewModel
@using FinancialWebSite.Models
@{
    List<Genre> types = ViewBag.ListTypes as List<Genre>;
}


@section TitleSection{家庭理财系统}
@section ContentBody
{


    <script type="text/javascript">

        // 日期选择器
        $(document).ready(function () {
            $('#TxtDate').datetimepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoclose: true,
                startView: 2,
                minView: 2,
                forceParse: false,
                language: 'zh-CN'
            });
        })



        // 下拉框
        $(document).ready(function () {

            $("#TxtType").change(function () {
                //获取类别的ID
                var GenreID = $("#TxtType").val();

                //获取分类
                var TxtClass = $("#TxtClass");

                //加入测试代码
                debugger;

                $.ajax({
                    url: "/Account/GetAllClassByGenreID/" + GenreID,
                    type: "post",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        var myHTML = "";
                        TxtClass.html("");//赋值之前先清空
                        $.each(result, function (i, data) {
                            myHTML += "<option value=" + data.ClassesID + ">" + data.Cname + "</option>";
                        });
                        TxtClass.append(myHTML);
                        document.getElementById("TxtClass").value = @Model.ClassesID;
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                });
            })

        })

        $(document).ready(function(){
            document.getElementById("TxtType").value = @Model.GenreID;           
        })

    </script>
<div class="container-fluid" style="text-align:center;">
    <h2>编辑 <small>&nbsp;&nbsp; Edit</small></h2>
</div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top:30px; padding-bottom:50px;">
            <form action="/Account/SaveEdit" method="post">
                <input value="@Model.AccountID" name="AccountID" type="hidden"/>
                <div>
                    <div>
                        <label>类型:</label>
                    </div>
                    <div>
                        <select id="TxtType" name="GenreID" style="padding:0px 5px 5px 5px;width:100%;">
                            <option value="0">全部类型</option>
                            @foreach (var item in types)
                            {
                                <option value="@item.GenreID">@item.Gname</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <label>分类:</label>
                    </div>
                    <div>
                        <select id="TxtClass" name="ClassesID" style="padding:0px 5px 5px 5px;width:100%;">
                            <option value="0">全部分类</option>
                        </select>
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <label>金额:</label>
                    </div>
                    <div>
                        <input type="text" id="TxtMoney" name="Money" value="@Model.Money" style="width:100%;padding-left:10px;" />
                    </div>

                </div>
                <br />
                <div>
                    <div>
                        <label>日期:</label>
                    </div>
                    <div style="padding-left:0px;">
                        <div class='input-group date form_date'>
                            <input id="TxtDate" name="Date" type='text' class="form-control input-sm" readonly="readonly" value="@Model.Date" />
                            <span class="input-group-addon input-sm">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <label>备注: </label>
                    </div>
                    <div>
                        <input type="text" id="TxtRemark" name="Remark" value="@Model.Remark" style="width:100%;padding-left:10px;" />
                    </div>

                </div>
                <br />
                <div style="text-align:center;">
                    <input type="submit" name="BtnSubmit" id="smallbtnStyle" value="保存" />
                    <input type="button" name="BtnReset" id="smallbtnStyle" value="重置" onclick="ResetEditForm();" />
                    <input type="submit" name="BtnSubmit" id="smallbtnStyle" value="取消" />
                </div>

            </form>

        </div>
    </div>

}


